<crm-header></crm-header>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <span class="caption-subject bold uppercase">{{user.name}}</span>
                    </div>
                </div>
    		    <div>
    		        <div>{{user.email}}email címe</div>
    		        <div><span class="label label-sm label-primary">{{user.role}}</span></div>
    		    </div>
            </div>
        </div> 
        <div class="col-md-6">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <span class="caption-subject bold uppercase">felhasználói fiók</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : errors.name }">
                    <p class="hint"> Teljes név<span class="must-have-write">*</span>: </p>
                    <input class="form-control placeholder-no-fix" type="text" value="{{user.name}}" [(ngModel)]="user.name"/> 
                    <span class="help-block" *ngIf="errors.name">{{ errors.name }}</span>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : errors.gender }">
                    <p class="hint"> Jelentkező neme<span class="must-have-write">*</span>: </p>
                    <div *ngFor="let g of genders" class="gender-inline">
                        <label for="gender-{{g.key}}">{{g.value}}</label>  
                        <input type="radio" name="gender" id="gender-{{g.key}}" value="{{user.gender}}" [(ngModel)]="user.gender">&emsp;
                    </div>
                    <br>    
                    <span class="help-block" *ngIf="errors.gender">{{ errors.gender }}</span>
                </div>    
                <div class="form-group">
                    <p class="hint"> Telefonszám: </p>
                    <input class="form-control plxaceholder-no-fix" type="tel" placeholder='{{user.phonenumber}}' [(ngModel)]="user.phone" /> 
                </div> 
                <div class="row">
                    <div class="col-md-12 nopadding">
                        <p class="hint"> Születési hely és idő: </p>
                    </div>
                    <div class="form-group col-md-5 nopadding">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="{{user.birthPlace}}" [(ngModel)]="user.birthPlace"/> 
                    </div>
                    <div class="form-group col-md-7 nopadding">                
                        <input class="form-control placeholder-no-fix" type="text" id="datepicker" placeholder="{{user.birthDate}}" [(ngModel)]="user.birthDate"/> 
                    </div>
                </div>                
                <div class="row">
                    <div class="col-md-12 nopadding">
                        <p class="hint"> Lakhely: </p>
                    </div>
                    <div class="form-group col-md-3 nopadding">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="irsz"/> 
                    </div>
                    <div class="form-group col-md-9 nopadding">                
                        <input class="form-control placeholder-no-fix" type="text" placeholder="{{user.city}}"/> 
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 nopadding">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="út/utca/stb."/> 
                    </div>
                    <div class="form-group col-md-3 nopadding">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="hsz."/> 
                    </div>
                    <div class="form-group col-md-3 nopadding">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="em./ajtó/stb."/> 
                    </div>
                </div>
                <div class="form-group" >
                    <p class="hint"> Helyszínek, ahol tud tanítani: </p>
                    <div *ngFor="let ad of locations">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" />{{ad | addressPipe}} 
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <p class="hint"> Tanfolyamok: </p>
                    <select class="form-control" [(ngModel)]="user.actCourses">
                        <option value="" disabled>Kérem válasszon!</option>
                        <option value="r.key" *ngFor="let c of this.user.actCourses">{{c.name}}</option>
                    </select>
                </div>    
                <div class="form-group" >
                    <p class="hint">A <span class="must-have-write">*</span>-al írt mezők kitöltése kötelező!</p>
                    <div class="form-group"  *ngIf="hasRole('ROLE_ADMIN')">
                        <button  type="submit" id="register-submit-btn" class="btn btn-danger uppercase pull-left" (click)="deleteData()"> Regisztráció törlése </button>
                    </div>
                    <div class="form-group">
                        <button  type="submit" id="register-submit-btn" class="btn indygo uppercase pull-right" (click)="changeData()"> Mentés </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<crm-footer></crm-footer>




    