<crm-header></crm-header>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="../../assets/images/toll.jpg" style="margin-top: 50px;">     
        </div>
        <div class="col-md-6">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <span class="caption-subject bold uppercase">Új érdeklődő regisztrációja</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : errors.name }" >
                    <p class="hint"> Teljes név<span class="must-have-write">*</span>: </p>
                    <input class="form-control placeholder-no-fix" type="text" value="" [(ngModel)]="user.name" (blur)="onBlurMethodName()"/> 
                    <span class="help-block" *ngIf="errors.name">{{ errors.name }}</span>
                </div>
                <div class="form-group"  [ngClass]="{ 'has-error' : errors.email }">
                    <p class="hint"> E-mail cím: <span class="must-have-write">*</span>:</p>
                    <input class="form-control placeholder-no-fix" type="email" value="" [(ngModel)]="user.email" (blur)="onBlurMethodEmail()"/>
                    <span class="help-block" *ngIf="errors.email">{{ errors.email }}</span>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : errors.phone }">
                    <p class="hint"> Telefonszám<span class="must-have-write">*</span>: </p>
                    <input class="form-control plxaceholder-no-fix" type="tel" placeholder='várt formátum: +36201234567' [(ngModel)]="user.phone" (blur)="onBlurMethodPhone()"/> 
                    <span class="help-block" *ngIf="errors.phone">{{ errors.phone }}</span>
                </div>     
                <div class="form-group" [ngClass]="{ 'has-error' : errors.gender }">
                    <p class="hint"> Jelentkező neme<span class="must-have-write">*</span>: </p>
                    <div *ngFor="let g of genders" class="gender-inline">
                        <label for="gender-{{g.key}}">{{g.value}}</label>  
                        <input type="radio" name="gender" id="gender-{{g.key}}" value="{{g.key}}" [(ngModel)]="user.gender" (blur)="onBlurMethodGender()">&emsp;
                    </div>
                    <br>
                    <span class="help-block" *ngIf="errors.gender">{{ errors.gender }}</span>
                </div>    
                <div class="row">
                    <div class="col-md-12 nopadding">
                        <p class="hint"> Születési hely és idő: </p>
                    </div>
                    <div class="form-group col-md-5 nopadding">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="Szül. hely" [(ngModel)]="user.birthPlace"/> 
                    </div>
                    <div class="form-group col-md-7 nopadding">                
                        <input class="form-control placeholder-no-fix" type="text" id="datepicker" placeholder="Szül. idő" [(ngModel)]="user.birthDate"/> 
                    </div>
                </div>
                <div class="form-group">
                    <p class="hint"> Felhasználói státusz: </p>
                    <select class="form-control" [(ngModel)]="user.status">
                        <option value="" disabled>Kérem válasszon!</option>
                        <option [value]="status.status" *ngFor="let status of this.status">{{status.status}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <p class="hint"> Végzettség:</p>
                    <input class="form-control placeholder-no-fix" type="" value="" [(ngModel)]="education"/>
                </div>
                <div class="form-group">
                    <p class="hint"> Foglalkozás:</p>
                    <input class="form-control placeholder-no-fix" type="" value="" [(ngModel)]="job"/>
                </div>
                <div class="row">
                    <div class="col-md-12 nopadding">
                        <p class="hint"> Lakhely: </p>
                    </div>
                    <div class="form-group col-md-3 nopadding">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="irsz" [(ngModel)]="user.address.zip"/> 
                    </div>
                    <div class="form-group col-md-9 nopadding">                
                        <input class="form-control placeholder-no-fix" type="text" placeholder="település" [(ngModel)]="user.address.city"/> 
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 nopadding">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="út/utca/stb." [(ngModel)]="user.address.street"/> 
                    </div>
                    <div class="form-group col-md-3 nopadding">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="hsz." [(ngModel)]="user.address.number"/> 
                    </div>
                    <div class="form-group col-md-3 nopadding">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="em./ajtó/stb." [(ngModel)]="user.address.other"/> 
                    </div>
                </div>
                <div class="form-group">
                    <p class="hint"> Első kontakt dátuma: </p>                
                    <input class="form-control placeholder-no-fix" type="text" id="datepicker2" placeholder="Első kontakt dátuma" [(ngModel)]="startDateContact"/> 
                </div>
                <div class="form-group">
                    <p class="hint"> Egyéb megjegyzés: </p>
                    <textarea name="decription" [(ngModel)]="user.otherInformation"></textarea>
                </div>
                <div class="form-group" >
                    <p class="hint">A <span class="must-have-write">*</span>-al írt mezők kitöltése kötelező!</p>
                    <div class="form-group">
                        <button  type="submit" id="register-submit-btn" class="btn indygo uppercase pull-right" (click)="register()"> Mentés </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Az érdeklődőt sikeresen regisztráltuk!</div>
        <div class="modal-footer">
            <button type="button" (click)="navigate()" class="btn btn-secondary" data-dismiss="modal">BEZÁR</button></div>
        </div>
    </div>
</div> 
<crm-footer></crm-footer>