<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="../../assets/images/toll.jpg" style="margin-top: 50px;">     
        </div>
        <div class="col-md-6">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <span class="caption-subject bold uppercase">Regisztráció</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : errors.name }">
                    <p class="hint"> Teljes név<span class="must-have-write">*</span>: </p>
                    <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="user.name" (blur)="onBlurMethodName()"/> 
                    <span class="help-block" *ngIf="errors.name">{{ errors.name }}</span>
                </div>
                <div class="form-group">
                    <p class="hint"> E-mail cím: </p>
                    <input class="form-control placeholder-no-fix" disabled type="email" value="{{user.email}}"/>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : errors.gender }">
                    <p class="hint"> Jelentkező neme<span class="must-have-write">*</span>: </p>
                    <div *ngFor="let g of genders" class="gender-inline">
                        <label for="gender-{{g.key}}">{{g.value}}</label>  
                        <input type="radio" name="gender" id="gender-{{g.key}}" value="{{g.key}}" [(ngModel)]="user.gender" (blur)="onBlurMethodGender()">&emsp;
                    </div>
                    <br>    
                    <span class="help-block" *ngIf="errors.gender">{{ errors.gender }}</span>
                </div>    
                <div class="form-group" [ngClass]="{ 'has-error' : errors.phone }">
                    <p class="hint"> Telefonszám<span class="must-have-write">*</span>: </p>
                    <input class="form-control plxaceholder-no-fix" type="tel" placeholder='várt formátum: +36201234567' [(ngModel)]="user.phone"  (blur)="onBlurMethodPhone()"/> 
                    <span class="help-block" *ngIf="errors.phone">{{ errors.phone }}</span>
                </div>                
                <div class="form-group">
                    <p class="hint"> Felhasználió státusz: </p>
                    <span class="label label-sm label-primary" *ngFor="let r of user.role"> {{ r }} </span>
                </div>
                <div class="form-group" *ngIf="hasRole('ROLE_TRAINER')">
                    <p class="hint"> Helyszínek, ahol tud tanítani: </p>
                    <div *ngFor="let l of locations" >
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" [(ngModel)]="l.selected" />{{l | location}}  <!--ez a pipe-->
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 nopadding">
                        <p class="hint"> Lakhely: </p></div>
                    <div class="form-group col-md-3 nopadding">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="irsz" [(ngModel)]="user.zip"/> 
                    </div>
                    <div class="form-group col-md-9 nopadding">                
                        <input class="form-control placeholder-no-fix" type="text" placeholder="település" [(ngModel)]="user.city"/> 
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 nopadding">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="út/utca/stb." [(ngModel)]="user.street"/> 
                    </div>
                    <div class="form-group col-md-3 nopadding">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="hsz." [(ngModel)]="user.number"/> 
                    </div>
                    <div class="form-group col-md-3 nopadding">
                        <input class="form-control placeholder-no-fix" type="text" placeholder="em./ajtó/stb." [(ngModel)]="user.other"/> 
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : errors.username }">
                    <p class="hint"> Felhasználónév<span class="must-have-write">*</span>: </p>
                    <input class="form-control placeholder-no-fix" type="text" placeholder="legalább 6 karakter" [(ngModel)]="user.username" (blur)="onBlurMethodUserName()" /> 
                    <span class="help-block" *ngIf="errors.username">{{ errors.username }}</span>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : errors.password1 }">
                    <p class="hint"> Jelszó<span class="must-have-write">*</span>: <br>(legalább 6 karakter, legyen benne kisbetű, nagybetű és szám)</p>
                    <input class="form-control placeholder-no-fix" type="password" placeholder="jelszó" [(ngModel)]="password1" (blur)="onBlurMethodPass1()" /> 
                    <span class="help-block" *ngIf="errors.password1">{{ errors.password1 }}</span>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error' : errors.password2 }">
                    <p class="hint"> Jelszó újra<span class="must-have-write">*</span>: </p>
                    <input class="form-control placeholder-no-fix" type="password" placeholder="jelszó újra" [(ngModel)]="password2" (blur)="onBlurMethodPass2()" /> 
                    <span class="help-block" *ngIf="errors.password2">{{ errors.password2 }}</span>
                </div>
                <div class="form-group" *ngIf="regStudent">
                    <p class="hint"> Egyéb megjegyzés: </p>
                    <textarea [(ngModel)]="otherInfo" name="decription"></textarea>
                </div>

                <div class="form-group">
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" [(ngModel)]="rulesChecked"/> Elfogadom a
                        <a data-toggle="modal" href="#exampleModalLong">felhasználási feltételeket. </a> 
                        <span></span>
                    </label>
                    <span class="must-have-write">*</span>
                    <div id="register_tnc_error"> </div>
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Általános Szerződési feltételek</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{rulesText}}</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">BEZÁR</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="hint">A <span class="must-have-write">*</span>-al írt mezők kitöltése kötelező!</p>
                <div class="form-group" *ngIf="!rulesChecked">
                    <button  type="submit" id="fail button" class="btn grey uppercase pull-right" disabled>Regisztráció</button>
                </div>

                <div class="form-group" *ngIf="rulesChecked">
                    <button  type="submit" id="register-submit-btn" class="btn indygo uppercase pull-right" (click)="doRegister()">Regisztráció</button>
                </div>
            </div>
        </div>
    </div>
</div> 
<crm-footer></crm-footer>