<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <span class="caption-subject bold uppercase"><br>
                    Sikeres regisztráció</span>
                </div>
            </div>
            <div class="form-group" >
                <p class="hint"> Most már be tud lépni a megadott felhasználónévvel és jelszóval.</p>
        	</div>
        </div>
    </div>
</div> 
