<crm-header></crm-header>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="portlet light ">			
				<div class="portlet-title tabbable-line">
					<div class="caption caption-md">
						<span class="caption-subject bold uppercase"> Keresés </span>
					</div>
				</div>
				<div class="portlet-title tabbable-line">
					<div class="btn-group" role="group">
						<button class="btn" disabled *ngIf="simplySearch">Egyszerű</button>
						<button class="btn indygo" *ngIf="!simplySearch" (click)="changeSearch()">Egyszerű</button>
						<button class="btn" disabled *ngIf="!simplySearch">Összetett</button>
						<button class="btn indygo" *ngIf="simplySearch" (click)="changeSearch()">Összetett</button>
					</div>
				</div>
				<div class="search-page search-content-3" *ngIf="simplySearch">
					<div class="search-filter ">
						<div class="input-icon right">
							<input type="text" class="form-control" placeholder="Név / E-mail / Státusz" [(ngModel)]="filterDataSimple.s"> </div>
						<button (click)="saveSimple()" class="btn indygo bold uppercase btn-block">Keresés</button>
					</div>
				</div>
				<div class="search-page search-content-3" *ngIf="!simplySearch">
					<div class="search-filter ">
						<div class="search-label uppercase">Név szerint</div>
						<div class="input-icon right">
							<input type="text" class="form-control" placeholder="Név" [(ngModel)]="filterDataCombined.name"> </div>
						<div class="search-label uppercase">E-mail cím szerint</div>
						<div class="input-icon right">
							<input type="text" class="form-control" placeholder="E-mail" [(ngModel)]="filterDataCombined.email"> </div>
						<div class="search-label uppercase">Státusz szerint</div>
						<select [(ngModel)]="filterDataCombined.status" class="form-control">
							<option value="">Kérem válasszon!</option>
							<option [value]="s" *ngFor="let s of status">{{s.status}}</option>
						</select>
						<button (click)="saveCombined()" class="btn indygo bold uppercase btn-block">Keresés</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="portlet light ">
				<div class="portlet-title tabbable-line">
					<div class="caption caption-md">
						<span class="caption-subject bold uppercase"> Ügyfelek listája</span>
					</div>
				</div>
				<table-pager [searchFilter]="lastFilterData" [owner]="this" [searchFunction]="doClientSearch" [emptyResultText]="'Nincs ilyen felhasználó.'" [tableHeaders]="[{ key : 'name', text : 'Név', align : 'left' }, { key: 'email', text : 'Email', align: 'center' }, { key: 'status', text : 'Státusz', align: 'center' }]" (rowClick)="navigateToUser($event)"></table-pager>
			</div>
		</div>
	</div>
</div> 
<crm-footer></crm-footer>
