<div class="container login">
	<div class="row">
		<div class="col-sm-3">
			
		</div>	
		<div class="col-sm-6">
			<div class="logo">
                <a href="index.html">
                <img src="../../assets/images/logo.png" style="height: 100px;" alt="" /> </a>
            </div>
            <div class="content">
            	<form class="login-form" action="index.html" method="post">
				    <div class="form-title">
				        <span class="form-title">Forget Password ?</span>
				        <span class="form-subtitle">Enter your e-mail to reset it.</span>
				    </div>
				    <div class="form-group">
				        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
				    <div class="form-actions">
				        <a routerLink="/login"><button type="button" id="back-btn" class="btn btn-default pull-left">Back</button></a>
				        <button type="submit" class="btn red uppercase pull-right">Submit</button>
				    </div>
				</form>
            </div>
		</div>
	</div>	
</div>


