<div class="table-pager">
	<label class="hint pull-left"> Találatok oldalanként: 
	    <select class="form-control input-sm input-xsmall input-inline" [(ngModel)]="currentItemsPerPage" (change)="startSearch()">
	        <option *ngFor="let i of itemsPerPage" value="{{ i.key }}">{{ i.text }}</option>
	    </select>
	</label>
	<div class="portlet-body">
		<table class="table table-striped table-bordered table-hover text-center order-column dataTable no-footer" id="sample_1">
			<thead>
				<tr>
					<th *ngFor="let th of tableHeaders" [ngClass]="{ 'text-' : th.align }"> {{ th.text }} </th>
				</tr>
			</thead>
			<tbody *ngIf="tableData.length == 0">
				<tr>
					<td [attr.colspan]="tableHeaders.length" class="text-center" *ngIf="! emptyResultText"><em>Nincs találat.</em></td>
					<td [attr.colspan]="tableHeaders.length" class="text-center" *ngIf="emptyResultText"><em>{{ emptyResultText }}</em></td>
				</tr>
			</tbody>
			<tbody *ngIf="tableData.length > 0">
				<tr class="gradeX" *ngFor="let data of tableData; let i = index;" [ngClass]="{ odd : i%2, even : !(i%2) }" (click)="emitRowClick(data)">
					<td [ngClass]="{ 'text-' : tableHeaders[i].align }" *ngFor="let th of tableHeaders">
						{{ data[ th.slug ] }}
					</td>
					<!--td> <span class="label label-sm label-primary"> {{ user.role }} </span> </td-->
				 </tr>
			</tbody>
		</table>
		<nav>
			<ul class="pagination justify-content-end">
	            <li class="page-item" [ngClass]="{ disabled : currentPage == 1 }"><a class="page-link" (click)="setPage(1)">
	                <i class="fa fa-angle-double-left"></i>                
	            </a></li>
	            <li class="page-item" [ngClass]="{ disabled : currentPage == 1 }"><a class="page-link" (click)="setPage(currentPage-1)">
	                <i class="fa fa-angle-left"></i>                
	            </a></li>
				<li class="page-item" [ngClass]="{ active : p == currentPage }" *ngFor="let p of pages">
	                <a class="page-link" (click)="setPage(p)">{{p}}</a>
	            </li>
				<li class="page-item" [ngClass]="{ disabled : currentPage == pageCount }"><a class="page-link" (click)="setPage(currentPage+1)">
	                <i class="fa fa-angle-right"></i>                
	            </a></li>
	            <li class="page-item" [ngClass]="{ disabled : currentPage == pageCount }"><a class="page-link" (click)="setPage(pageCount)">
	                <i class="fa fa-angle-double-right"></i>                
	            </a></li>
			</ul>
		</nav>
	</div>
</div>