<footer class="page-footer-priv">
        All rights reserved &copy; Indygo Training Kft &nbsp;|&nbsp;
        <a target="_blank" href="#myModal">www.indygo-coaching.hu</a> &nbsp;|&nbsp; Telefonszám: +36 (70) 621-2500 &nbsp;|&nbsp; E-mail: info@indygo-coaching.hu
</footer>
<div class="container">
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ errorTitle }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{errorMessage}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Vissza</button>
          </div>
        </div>
      </div>
    </div>
</div>